
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductDetailModel


<div class="row">
    <div class="col-md-3">
        <img class="img-fluid" src="~/img/@Model.Product.ImageUrl" />
    </div>
    <div class="col-md-9">

        <h5 class="mb-3">@Model.Product.Name</h5> <hr />
        @foreach (var item in Model.Categories)
        {
            <a href="/products/@item.Url" class="btn btn-link p-0 mb-3">@item.Name</a>
        }
        
        <div class="mb-3">
            <h4 class="text-primary mb-3"> 
                <small class="text-muted">
                    <i class="fas fa-lira-sign">@Model.Product.Price</i>
                </small>
            </h4>
            <button type="submit" class="btn btn-primary btn-lg">Add To Cart</button>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-12 p-5">
            <p class="p-3">@Html.Raw(@Model.Product.Description)</p>@*Html.raw ckeditor için*@
        </div>
    </div>
</div>
  
